/* position of array container */
.array-container {
    position: absolute; /* absolute position for container */
    top: 40%; /* moves top edge from top of screen */
    left: 50%; /* moves left edge from left of screen */
    transform: translate(-50%, -40%); /* centers around center of container instead of top left corner */
    max-width: 1400px; /* maximum width of container */
    box-sizing: border-box; /* includes padding and border within specified positions */
}

/* position of array bars */
.array-bar {
    width: 2px; /* width of each bar */
    display: inline-block; /* allows width and height of element to be set and elements to be side-by-side */
    margin: 0 1px;
}